<!-- 
/* 
 * GmARDiscrepancy.html : This html file used to show Discrepancy PO Report which lists all orders with disagreement
 * @author T.S. Ramachandiran
*/ 
-->

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor" style="font-weight: 500;">Discrepancy
                    PO Dashboard</h3>
            </div>
            <div class="col-md-7 align-self-center text-right">
                <div class="d-flex justify-content-end align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Discrepancy PO Dashboard</li>
                        <li class="help-icon"><i class="fa fa-question-circle" aria-hidden="true" onclick="fnHelp('wikidiscrepancydashboard');" title="Help"></i></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <section class="row">
        <div id="discrepancy-main" class="col-12">
            <div class="mb-0 card">
                <div class="card-body">
                    <form class="form-body needs-validation" novalidate>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right  col-md-3 ">
                                        Company</label>
                                    <div class="col-md-8">
                                        <select id="strCompanyId" class="form-control custom-select" ng-model="selectedCompany" tabindex="1" data-ng-change="fnchangeCompany(selectedCompany)">
                                            <option data-ng-repeat="comp in compList" value="{{comp.companyId}}">{{comp.companyName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Rep
                                        Account</label>
                                    <div class="col-md-8">
                                        <input type="search" placeholder="Account Name" name="strRepAcc" class="form-control col-md-8" data-ng-model="strRepAccId" data-ng-change="fnSearchRepAccount()" tabindex="2"> 
                                        <input type="hidden" placeholder="Account Name" name="strRepAcc" class="form-control" data-ng-model="strRepAcc"> 
                                        <input type="search" placeholder="ACC ID" aria-describedby="button-addon1" class="form-control col-md-3" data-ng-model="strAccid" tabindex="3">
                                        <ul class="list-group" id="list-group-rep" ng-model="hidethisrep" ng-hide="hidethisrep">
                                            <li class="list-group-item list-group-item-action" ng-repeat="rAcc in repAccList" ng-click="fnRepAccItem($event)" data-name="{{rAcc.NAME}}" data-id="{{rAcc.ID}}">{{rAcc.NAME}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Parent
                                        Account</label>
                                    <div class="col-md-8">
                                        <input type="search" placeholder="Search" name="strParentAcc" class="form-control" data-ng-model="strParentAccId" data-ng-change="fnSearchParentAccount()" tabindex="4">
                                        <input type="hidden" placeholder="Search" name="strParentAcc" class="form-control" data-ng-model="strParentAcc">
                                        <ul class="list-group" id="list-group-acc" ng-model="hidethisacc" ng-hide="hidethisacc">
                                            <li class="list-group-item list-group-item-action" ng-repeat="pAcc in parentAccList" ng-click="fnParentAccItem($event)" data-name="{{pAcc.NAME}}" data-id="{{pAcc.ID}}">{{pAcc.NAME}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">PO#</label>
                                    <div class="col-md-8">
                                        <input type="search" placeholder="" aria-describedby="button-addon1" class="form-control" data-ng-model="strCustPONumber" tabindex="5">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">DO ID</label>
                                    <div class="col-md-8">
                                        <input type="search" placeholder="" aria-describedby="button-addon1" class="form-control" data-ng-model="strOrdId" tabindex="6">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">Order Date</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control inputDatePicker" data-ng-model="strOrderFDate" id="orderFDate" placeholder="mm/dd/yyyy" tabindex="7">
                                            <div class="input-group-append orderFDate">
                                                <span class="input-group-text"> <i class="icon-calender"></i>
                                                </span>
                                            </div>
                                             <span id="span-empty_ordFdt-err" style="color:red" class="hide">Please Select From Date for Order Date Field</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-3">To</label>
                                    <div class="col-md-8 pr-3	">
                                        <div class="input-group">
                                            <input type="text" class="form-control inputDatePicker" data-ng-model="strOrderTDate" id="orderTDate" placeholder="mm/dd/yyyy" tabindex="8">
                                              <div class="input-group-append orderTDate">
                                                <span class="input-group-text"> <i class="icon-calender"></i>
                                                </span>
                                            </div>
                                            <span id="span-empty_ordTdt-err" style="color:red" class="hide">Please Select To Date for Order Date Field</span>
                                              <span id="span-dt_compare_ordFdt-err" style="color:red" class="hide">To Date should be greater than or equal to From Date for Order Date</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <button id="btnCollapseFilter" class="btn btn-xs btn-outline-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" tabindex="9"></button>
                        </div>
                        <section class="collapse" id="collapseFilter">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-3">Division</label>
                                        <div class="col-md-8">
                                            <select class="form-control custom-select" data-ng-model="strDivisionId" tabindex="10">
                                                <option value="">[Choose One]</option>
                                                <option data-ng-repeat="divlist in divisionList" value="{{divlist.divisionId}}">{{divlist.divisionName}}</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-3">Resolution</label>
                                        <div class="col-md-8">
                                            <select class="form-control custom-select" data-ng-model="strResolutionId" tabindex="11">
                                                <option value="">[Choose One]</option>
                                                <option data-ng-repeat="reslist in DOPORE" value="{{reslist.codeId}}">{{reslist.codeNm}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-2">


                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-9">Ready
                                            for Resolution</label>
                                        <div class="custom-control custom-checkbox col-md-2 mr-2">
                                            <input type="checkbox" class="chkbox form-check-input filled-in form-control" id="strResolutionId" data-ng-model="strReadyForResId" tabindex="12">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">


                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-8">Hide
                                            Future Reminder</label>
                                        <div class="custom-control custom-checkbox col-md-2 mr-2">
                                            <input type="checkbox" class=" chkbox form-check-input filled-in form-control" id="strHFutureRemId" data-ng-model="strHFutureRemId" tabindex="13">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-3">Collector</label>
                                        <div class="col-md-8">
                                            <select class="form-control custom-select" data-ng-model="strCollectorId" tabindex="14">
                                                <option value="">[Choose One]</option>
                                                <option data-ng-repeat="clist in collectorList" value="{{clist.codeId}}">{{clist.codeNm}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-3">Field
                                            Sales</label>
                                        <div class="col-md-8">
                                            <input type="search" placeholder="Search" name="strFieldSales" class="form-control" data-ng-model="strFieldSalesId" data-ng-change="fnSearchFieldSales()" tabindex="15"> <input type="hidden" placeholder="Search" name="strFieldSales" class="form-control" data-ng-model="strFieldSales">
                                            <ul class="list-group" id="list-group-field" ng-model="hidethisfield" ng-hide="hidethisfield">
                                                <li class="list-group-item list-group-item-action" ng-repeat="fieldSales in fieldSalesList" ng-click="fnFieldSalesItem($event)" data-name="{{fieldSales.NAME}}" data-id="{{fieldSales.ID}}">{{fieldSales.NAME}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-3">Sales
                                            Rep</label>
                                        <div class="col-md-8">
                                            <input type="search" placeholder="Search" name="strSalesRep" class="form-control" data-ng-model="strSalesRepId" data-ng-change="fnSearchSalesRep()" tabindex="16"> <input type="hidden" placeholder="Search" name="strSalesRep" class="form-control" data-ng-model="strSalesRep">
                                            <ul class="list-group" id="list-group-sales" ng-model="hidethissales" ng-hide="hidethissales">
                                                <li class="list-group-item list-group-item-action" ng-repeat="salesRep in salesRepList" ng-click="fnSalesRepItem($event)" data-name="{{salesRep.NAME}}" data-id="{{salesRep.ID}}">{{salesRep.NAME}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-4">Discrepancy
                                            Date</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control inputDatePicker" data-ng-model="strDisStartDate" id="discrepancyFDate" placeholder="mm/dd/yyyy" tabindex="17">
                                                <div class="input-group-append discrepancyFDate">
                                                    <span class="input-group-text"> <i class="icon-calender"></i>
                                                    </span>
                                                </div>
                                                <span id="span-empty_disFdt-err" style="color: red" class="hide">Please Select From Date for Discrepancy
                                                    Date Field</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-3">To</label>
                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <input type="text" class="form-control inputDatePicker" data-ng-model="strDisEndDate" id="discrepancyTDate" placeholder="mm/dd/yyyy" tabindex="18">
                                                <div class="input-group-append  discrepancyTDate">
                                                    <span class="input-group-text"> <i class="icon-calender"></i>
                                                    </span>
                                                </div>
                                                <span id="span-empty_disTdt-err" style="color: red" class="hide">Please Select To Date for Discrepancy
                                                    Date Field</span> <span id="span-dt_compare_disFdt-err" style="color: red" class="hide">To Date should be
                                                    greater than or equal to From Date for Discrepancy Date</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                
                            <div class="col-md-3">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-4">Resolution
                                        Date</label>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <input type="text" class="form-control inputDatePicker" data-ng-model="strResStartDate" id="resolutionFDate" placeholder="mm/dd/yyyy" tabindex="19">
                                            <div class="input-group-append resolutionFDate">
                                                <span class="input-group-text"> <i class="icon-calender"></i>
                                                </span>
                                            </div>
                                            <span id="span-empty_resFdt-err" style="color: red" class="hide">Please Select From Date for Resolution
                                                Date Field</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group row form-group-line">
                                    <label class="control-label mt-2 text-right col-md-2">To</label>
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control inputDatePicker" data-ng-model="strResEndDate" id="resolutionTDate" placeholder="mm/dd/yyyy" tabindex="20">
                                            <div class="input-group-append resolutionTDate">
                                                <span class="input-group-text"> <i class="icon-calender"></i>
                                                </span>
                                            </div>
                                            <span id="span-empty_resTdt-err" style="color: red" class="hide">Please Select To Date for Resolution
                                                Date Field</span> <span id="span-dt_compare_resFdt-err" style="color: red" class="hide">To Date should be
                                                greater than or equal to From Date for Resolution Date</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                 
                                </div>
								<div class="row">

                                <div class="col-md-3">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 text-right col-md-4">Category</label>
                                        <div class="col-md-6">
                                            <select class="form-control custom-select" data-ng-model="strCategoryId" tabindex="23">
                                                <option value="">[Choose One]</option>
                                                <option data-ng-repeat="catlist in DOPOCA" value="{{catlist.codeId}}">{{catlist.codeNm}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>



								</div>
                        </section>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group-line float-right">
                                    <button class="btn btn-outline-secondary" type="button" data-ng-click="fnClearAllField()" data-toggle="modal" class="model_img img-responsive" tabindex="24">Clear</button>

                                    <button class="btn btn-info " type="submit" data-ng-click="fnLoadDiscrepancyPOReport()" data-toggle="modal" data-target="#LoadAlert" class="model_img img-responsive" tabindex="25">Load</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body pt-2 pb-2 w-100">
                    <div class="dhx_sample-controls float-right">
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Show/Hide
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strCustPONumber" checked>PO Number
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strPOAmt" checked>PO Amount
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strTotal" checked>Total
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strDiffAmt" checked>Diff
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strParentOrdId" checked>Parent Order Id
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strParentAcc" checked>Parent Account
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strParentAccId">Parent Account Id
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strParentOrdId">Parent Order Id
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strOrderId" checked>DO Id
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strCategoryNm" checked>Category Name
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strPOResStatus" checked>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strAccid" checked>Rep Account Id
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strRepAcc" checked>Rep Account
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strSalesRep" checked>Sales Rep
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strParentAcc" checked>Parent Account
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strResDate">Resolution Date
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strDisdate">Discrepancy Date
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strCollectorNm">Collector Name
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strOrdDT" checked>Order Date
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strADName">AD Name
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strVPName">VP Name
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strPOEnteredDate">PO Entered Date
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" class="chk_column" value="strCustPOUpdatedBy">PO Updated By
                                        </label>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="text-right">
                            <div class="form-group-line">
                                <button class="btn btn-info" id="btn-excel" data-ng-click="exportXlsx()">Export to Excel</button>
                            </div>
                        </div>

                    </div>

                    <div id="discrepency-dashboard-report" class="w-100 "></div>

                    <div id="no-data-found" class="text-center">No data found</div>

                </div>
            </div>

        </div>
        <div id="preloader-spin">
            <div class='w-100 text-center'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
        </div>
        <div id="po-entry-main" style="display: none;">
            <div class="card">
                <div class="row nav-tabs">
                    <div class="col-md-6 text-left">
                        <i class="fas fa-sync-alt text-muted px-3 pb-2 align-middle" title="Refresh" data-ng-click="fnRefreshRightPanel()"></i>
                    </div>
                    <div class="col-md-6 text-right">
                        <i class="fas fa-times text-muted px-3 pb-2 align-middle" title="Close" data-ng-click="fnCloseRightPanel()"></i>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card ">
                        <div class="form-body" id="PODetails" ng-controller="GmPendingPOController">

                            <div class="row">
                                <label class="control-label mt-2 lbl-bold lbl-size1 err-span" >{{errorMessage}}</label>
                                <label class="control-label mt-2  col-md-6 lbl-bold lbl-size1" style="color: green;margin-left: 100px;">{{successMsg}}</label>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2  col-md-3  lbl-bold lbl-size1  text-right">Order ID : </label>
                                        <label class="control-label mt-1  col-md-9 ">
<!--                                            <a data-ng-click="fnSummaryDO(strOrderId)" class="text-info">{{strOrderId}}</a>-->
                                                <span ng-if="strParentOrdId"> <a data-ng-click="fnSummaryDO(strParentOrdId)" class="text-info" style='vertical-align: middle;'>{{strOrderId}}</a></span>
                                            <span ng-if="!strParentOrdId"> <a data-ng-click="fnSummaryDO(strOrderId)" class="text-info" >{{strOrderId}}</a></span>
                                             <span ng-if="strOrdReceiveMode==26230683" id="pdf-span"><a id="do-pdf-url" ng-href="{{strDOPDFURL}}"><img src="../images/pdf_icon.gif" aria-hidden="true" data-toggle="modal" title="Download Pdf" /></a></span>
											 <span id="poFmt-span" class="mdi mdi-receipt" data-ng-click="fnDiscPODetailView()" style='cursor:pointer;color:#008000;font-size:19px;vertical-align: middle;' title="Account PO Format"></span></label>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 col-md-6 lbl-bold lbl-size1 text-right">Amount : </label>
                                        <label class="control-label mt-2 col-md-6"><span ng-if="strTotal>=0"> {{strTotal | currency: strcurrencyNm}}</span>
                                            <span style="color:red" ng-if="strTotal<0">{{strMinTotal | currency: strcurrencyNm}}</span></label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 col-md-6 lbl-bold text-right">Shipping Charge : </label>
                                        <label class="control-label mt-2 col-md-6"><span>{{strShipCost | currency: strcurrencyNm}}</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row form-group-line" id="po-num-div">
                                        <label class="control-label mt-2 col-md-4 lbl-size lbl-bold text-right">PO Number :</label>
                                        <div class="col-md-7">
                                            <input type="text" data-ng-model="strCustomerPo" id="strCustomerPo" maxlength="50" tabindex="26" class="form-control" ng-blur="fnPOCheck();" ng-disabled="editDisFl==='N'">
                                        </div>
                                        <div id="preloader-for-ponum">
                                            <div class='w-100 text-center'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
                                        </div>
                                        <span ng-if="poCheckFlag==='Y'" class="i-span"><i class="fas fa-times" style="color: red" data-ng-click="fnClearPONum();" title="Clear PO Number"></i>
                                            <img src="../images/location.png" data-ng-click="poDrillDownModal()" title="PO Existing History"></span>
                                        <!--                                            <i class="fa fa-history" aria-hidden="true" data-toggle="modal" ></i></span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 col-md-4 lbl-size lbl-bold text-right">PO Amount :</label>
                                        <div class="col-md-7">
                                            <input type="text" data-ng-model="strPOAmt" id="strPOAmt" maxlength="50" class="form-control text" tabindex="27" ng-blur="fnPOAmtSave();" ng-change="fnPOAmtValidation();" ng-disabled="editDisFl==='N'">
                                            <span id="span-po-amt-err" class="hide">Enter Number Only</span>
                                        </div>
                                        <div id="preloader-for-poamt">
                                            <div class='w-100 text-center'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="preloader-spin-po">
                                <div class='w-100 text-center'><i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
                            </div>

                            <div class="row loader-hide">
                                <div class="col-md-12">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 col-md-4 lbl-size lbl-bold text-right">PO :</label>
                                        <div class="col-md-7">
                                            <select class="form-control custom-select" data-ng-model="orderPODtls" tabindex="28" data-ng-change="fnsaveOrderRevDtls('PO');" ng-disabled="editDisFl==='N'">
                                                <option value="">[Choose One]</option>
                                                <option data-ng-repeat="div in poDtlList" value="{{div.codeId}}">{{div.codeNm}}</option>
                                            </select>
                                        </div>
                                        <div id="preloader-for-po">
                                            <div class='w-100 text-center'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
                                        </div>
                                        <span ng-if="poHistFl==='Y'" class="i-span"><img src="../images/icon_History.gif" aria-hidden="true" data-toggle="modal" title="PO Log History Details" data-ng-click="auditLogModal('1241')" /></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row loader-hide">
                                <div class="col-md-12">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 col-md-4 lbl-size lbl-bold text-right">DO :</label>
                                        <div class="col-md-7">
                                            <select class="form-control custom-select" data-ng-model="orderDODtls" id="orderDODtls" tabindex="28" data-ng-change="fnsaveOrderRevDtls('DO');" ng-disabled="editDisFl==='N'">
                                                <option value="">[Choose One]</option>
                                                <option data-ng-repeat="div in doDtlList" value="{{div.codeId}}">{{div.codeNm}}</option>
                                            </select>
                                        </div>
                                        <div id="preloader-for-do">
                                            <div class='w-100 text-center'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
                                        </div>
                                        <span ng-if="doHistFl==='Y'" class="i-span"><img src="../images/icon_History.gif" aria-hidden="true" title="DO Log History Details" data-toggle="modal" data-ng-click="auditLogModal('1242')"></span>

                                    </div>
                                </div>
                            </div>
                            <div id="auditLogModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="vcenter">Order Details</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <i class="fas fa-times text-muted px-3 pb-2 align-middle"></i>
                                            </button>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table id="auditLogModalTable" class="table table-bordered table-striped tables-responsive">
                                                                <thead>
                                                                    <tr>
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Transaction ID</th>
                                                                                <th>Transaction Name</th>
                                                                                <th>Updated By</th>
                                                                                <th>Updated Date</th>
                                                                            </tr>
                                                                        </thead>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr data-ng-repeat="auditlis in auditHistoryList">
                                                                        <td>{{auditlis.refId}}</td>
                                                                        <td>{{auditlis.refValue}}</td>
                                                                        <td>{{auditlis.updatedBy}}</td>
                                                                        <td>{{auditlis.updatedDate}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <!--Popup window Start-->
                            <div id="conPOModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">

                                    <div class="modal-content" width="100%">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="vcenter">Entered PO Number : &nbsp;{{strCustomerPo}}</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <i class="fas fa-times text-muted px-3 pb-2 align-middle" data-ng-click="ConfirmPOCancel()"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <span>{{confirmPOMsg}}</span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-info" data-dismiss="modal" data-ng-click="confirmPONumber()">OK</button>
                                            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal" data-ng-click="ConfirmPOCancel()">Cancel</button>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div id="poDrillDownModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="vcenter">Order Details</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="fas fa-times text-muted px-3 pb-2 align-middle"></i>
                        </button>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="drillDownTable" class="table table-bordered table-striped tables-responsive">
                                            <thead>
                                                <tr>
                                                    <th width="100px">Order ID</th>
                                                    <th width="100px">Account</th>
                                                    <th width="100px">Order Date</th>
                                                    <th width="100px">Total</th>
                                                    <th width="100px">Type</th>
                                                    <th width="100px">Order By</th>
                                                    <th width="100px">Ship Date</th>
                                                    <th width="100px">Tracking#</th>
                                                    <th width="100px">Customer PO</th>
                                                    <th width="100px">Parent Order Id</th>
                                                    <th width="100px">Invoice Id</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr data-ng-repeat="drillLis in drilDownList">
                                                    <td>{{drillLis.strOrderId}}</td>
                                                    <td>{{drillLis.strRepAcc}}</td>
                                                    <td>{{drillLis.strOrdDT}}</td>
                                                    <td>{{drillLis.strTotal | currency: strcurrencyNm}}</td>
                                                    <td>{{drillLis.strOrdertype}}</td>
                                                    <td>{{drillLis.strUserName}}</td>
                                                    <td>{{drillLis.strShipDt}}</td>
                                                    <td>{{drillLis.strShipTrack}}</td>
                                                    <td>{{drillLis.strCustPONumber}}</td>
                                                    <td>{{drillLis.strParentOrdId}}</td>
                                                    <td>{{drillLis.strInvoice}}</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
                        </div>
                  
                        </div>
                              <!-- Collector Div-->
                        <div class="form-body" id="pocollectorDetails">
                            <div class="row">
                                <div class="col-md-12 loader-hide">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 col-md-4 lbl-size lbl-bold text-right">Collector :</label>
                                        <div class="col-md-7">
                                            <select class="form-control custom-select" data-ng-model="strCollectorPOId" tabindex="29" data-ng-change="fnSavePOCollectorDetails('Collector');"  ng-disabled="editDisFl==='N'">
                                                <option value="">[Choose One]</option>
                                                <option data-ng-repeat="div in collectorList" value="{{div.codeId}}">{{div.codeNm}}</option>
                                            </select>
                                        </div>

                                        <div id="preloader-for-collector" style="display: none;">
                                            <div class='w-100 text-center'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
                                        </div>

                                        <span ng-if="collectorHistFl==='Y'" class="i-span"><img src="../images/icon_History.gif" aria-hidden="true" data-toggle="modal" title="Collector Log History Details" data-ng-click="fnFetchPOLogDetails('109661')" /></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 loader-hide">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 col-md-4 lbl-size lbl-bold text-right">Remind Me In Days:</label>
                                        <div class="col-md-4">
                                            <input type="text" data-ng-model="strRemindMedays" id="strRemindMedays" maxlength="3" tabindex="30" class="form-control" ng-blur="fnRemindMeDaysSave();" ng-change="fnRemindMeValidation();" ng-disabled="editDisFl==='N'">
                                        </div>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <input type="text" class="inputDatePicker" data-ng-model="strRemindMeDate" id="remindMeDate" placeholder="mm/dd/yyyy"  ng-change="fnCalculateDays()" ng-disabled="editDisFl==='N'">
                                                <div class="input-group-append remindMeDate">
                                                    <span class="input-group-text" ng-hide ="editDisFl==='N'"> <i class="icon-calender" tabindex="31"></i>
                                                    </span>
                                                </div>
                                            </div>
                                         </div>
                                        <span id="span-po-remind-days-err" class="hide">Enter Number Only</span>
                                        <span id="span-remind-greater-err" class="hide">Remind Me Date should be greater than Current Date</span>
                                        <div id="preloader-for-remindme" style="display: none;">
                                            <div class='w-100 text-center'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 loader-hide">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 col-md-4 lbl-size lbl-bold text-right">Category :</label>
                                        <div class="col-md-7">
                                            <select class="form-control custom-select" data-ng-model="strCategoryPOId" tabindex="32" data-ng-change="fnSavePOCollectorDetails('Category');"  ng-disabled="editDisFl==='N'">
                                                <option value="">[Choose One]</option>
                                                <option data-ng-repeat="div in DOPOCA" value="{{div.codeId}}">{{div.codeNm}}</option>
                                            </select>
                                        </div>

                                        <div id="preloader-for-category" style="display: none;">
                                            <div class='w-100 text-center'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
                                        </div>

                                        <span ng-if="categoryHistFl==='Y'" class="i-span"><img src="../images/icon_History.gif" aria-hidden="true" data-toggle="modal" title="Category Log History Details" data-ng-click="fnFetchPOLogDetails('109662')" /></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 loader-hide">
                                    <div class="form-group row form-group-line">
                                        <label class="control-label mt-2 col-md-4 lbl-size lbl-bold text-right">Resolution :</label>
                                        <div class="col-md-7">
                                            <select class="form-control custom-select" data-ng-model="strResolutionPOId" tabindex="33" data-ng-change="fnSavePOCollectorDetails('Resolution');"  ng-disabled="editDisFl==='N'">
                                                <option value="">[Choose One]</option>
                                                <option data-ng-repeat="div in DOPORE" value="{{div.codeId}}">{{div.codeNm}}</option>
                                            </select>
                                        </div>

                                        <div id="preloader-for-resolution" style="display: none;">
                                            <div class='w-100 text-center'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
                                        </div>

                                        <span ng-if="resolutionHistFl==='Y'" class="i-span"><img src="../images/icon_History.gif" aria-hidden="true" data-toggle="modal" title="Resolution Log History Details" data-ng-click="fnFetchPOLogDetails('109663')" /></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="btn-line-div">
                                <div class="col-md-6" id="add-line-btn"><button type="button" tabindex="28" class="btn btn-info h-100 w-100" data-ng-click="fnPOLineItemModel()" data-toggle="modal" ng-disabled="editDisFl==='N'">{{strLineItemLabel}}</button></div>
                            </div>
                            
 <!-- Modal window for lineItem pop up -->
<div id="POLineItemModal" class="modal" tabindex="-1" role="dialog" 
	aria-labelledby="vcenter" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="vcenter">
					<b>PO Line Item Entry</b>
				</h5>
                   <span class="span-help-icon"><i class="fa fa-question-circle px-3 pb-2 align-middle" aria-hidden="true" onclick="fnHelp('wikilineitemdetails');" title="Help"></i></span>
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="fas fa-times text-muted px-3 pb-2 align-middle" id="poLineModalClose"></i>
				</button>
			</div>

			<div class="modal-body">
                                            <h5 class="modal-title"><b>Customer PO:</b> {{strCustPONum}}&nbsp;&nbsp;&nbsp;&nbsp; <b>Order ID:</b> <span class="horizontal" ng-repeat="ordId in strOrderIdList"><a style="cursor:pointer" ; class="text-info" data-ng-click="fnSummaryDO(ordId.Name)">{{ordId.Name}}&nbsp;</a></span></h5>
			<span><a id="do-pdf-url" data-ng-click="fnRemoveRow()"><img src="../images/delete.gif" aria-hidden="true" data-toggle="modal" title="Remove Row" /></a></span>
                                            <button class="btn btn-info" id="btn-excel" data-ng-click="exportLineItemXlsx()" style="float:right;padding-top: 0;padding-bottom: 0;margin-bottom: 3px;">Export to Excel</button>
			<div id="poDiscrepencyLineItems"></div>
			<div><span style="color: Green;margin-left: 45%;">{{validateReasonMsg}}</span></div>
			<div class="modal-footer">
              <div id="POModal-div"> <button type="button" class="btn btn-info" data-ng-click="fnUpdatePObyDO()">Revised PO Received</button></div>
              <div id="POModal-div"> <button type="button" class="btn btn-info" data-ng-click="fnSubmit()">Submit</button></div>
              <div id="footer-div"> <button type="button" class="btn btn-danger waves-effect"
                   data-dismiss="modal">Close</button></div>
            </div>
			</div>
			
		</div>
	</div>
</div>


                            <div id="poDetailLogModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="vcenter">{{logheadermsg}}</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <i class="fas fa-times text-muted px-3 pb-2 align-middle"></i>
                                            </button>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="table-responsive">
                                                            <table id="poDetailLogModalTable" class="table table-bordered table-striped tables-responsive">
                                                                <thead>
                                                                    <tr>
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Transaction Name</th>
                                                                                <th>Updated By</th>
                                                                                <th>Updated Date</th>
                                                                            </tr>
                                                                        </thead>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr data-ng-repeat="poLogDtl in poLogDetlList">
                                                                        <td>{{poLogDtl.strPODtlCodeNm}}</td>
                                                                        <td>{{poLogDtl.strPODtlLogUpdateBy}}</td>
                                                                        <td>{{poLogDtl.strPODtlLogUpdateDate}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            
                        </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label mt-2 col-md-4 lbl-bold"><span class="text-danger text-right"></span>Comments</label>
                                    <textarea class="form-control rounded-0" data-ng-model="strComments" tabindex="35" id="exampleFormControlTextarea2" rows="3" maxlength="4000"  ng-disabled="editDisFl==='N'"></textarea>
                                    <div id="preloader-for-comments">
                                        <div class='w-100 text-center'> <i class='fas fa-spinner fa-pulse fa-2x'></i> </div>
                                    </div>
                                </div>
                                <div class="col-md-12" id="comments-icon-div">
                                    <div class="form-group-line float-right">
                                        <button class="btn btn-outline-secondary" data-ng-disabled="editDisFl==='N'" type="button" data-ng-click="fnClearComments()" data-toggle="modal" class="model_img img-responsive" tabindex="30">Clear</button>
                                        <button class="btn btn-info" type="submit" data-ng-disabled="editDisFl==='N'" data-ng-click="saveLogComments();" data-toggle="modal" data-target="#LoadAlert" class="model_img img-responsive" tabindex="31">Add
                                        </button>
                                    </div>
                                </div>
                                <div class="table-responsive-sm" style="position: relative; overflow: auto; width: 100%; height: 175px;">
                                    <table class="table table-striped table-bordered table-sm table-hover" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date</th>
                                                <th scope="col">User Name</th>
                                                <th scope="col">Details</th>
                                            </tr>
                                        </thead>
                                        <tbody data-spy="scroll">
                                            <tr data-ng-repeat="comment in commentsList">
                                                <th>{{comment.strUpdatedDate}}</th>
                                                <td>{{comment.strUpdatedBy}}</td>
                                                <td>{{comment.comments}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="row" id="vault-div">
                                <div class="col-md-12">
                                    <div class="form-group row form-group-line">
                                        <div class="col-md-12" id="dhtmlxvault-file-upload-po"></div>
                                    </div>
                                </div>
                            </div>
                             <div id="fileDeleteConfirm" class="modal" tabindex="-1" role="dialog" aria-labelledby="CommonCancelPopup" aria-hidden="true">
                                 <div class="modal-dialog modal-dialog-centered">
                                     <div class="modal-content">
                                         <div class="modal-header">
                                             <h4 class="modal-title" id="vcenter">File Delete Confirmation</h4>
                                             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                 <i class="fas fa-times text-muted px-3 pb-2 align-middle" data-ng-click="ConfirmPOCancel()"></i>
                                             </button>
                                         </div>
                                         <div class="modal-body">
                                             <span>Do you want to remove this file?</span>
                                         </div>
                                         <div class="modal-footer">
                                             <button type="submit" class="btn btn-info" data-dismiss="modal" id="modal-btn-fdelete_confirm">OK</button>
                                             <button type="button" id="modal-btn-fdelete_cancel" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                            <div id="fileDeleteAllConfirm" class="modal" tabindex="-1" role="dialog" aria-labelledby="CommonCancelPopup" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="vcenter">All File Delete Confirmation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <i class="fas fa-times text-muted px-3 pb-2 align-middle" data-ng-click="ConfirmPOCancel()"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <span>Do you want to remove these files, continue?</span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-info" data-dismiss="modal" id="modal-btn-falldelete_confirm">OK</button>
                                            <button type="button" id="modal-btn-falldelete_cancel" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row div-center">
                                <div class="err-lbl">{{validatePONumMsg}}</div>
                                <div class="err-lbl">{{validateCommentsMsg}}</div>
                                <div class="err-lbl">{{validateCategoryMsg}}</div>
                                <div class="err-lbl">{{validateResolutionMsg}}</div>
                            </div>
                            <hr>
                            <div class="row" id="btn-div">
                                <div class="col-md-6" id="ready-dis-btn"><button type="button" tabindex="38" data-ng-click="fnSaveReadyPOStatus('109542')" class="btn btn-info h-100 w-100"  ng-disabled="editDisFl==='N'">Ready For Invoicing</button></div>
                            </div>
                           <div id="conFModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content" width="100%">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="vcenter">{{confirmheader}}</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <i class="fas fa-times text-muted px-3 pb-2 align-middle"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <span>{{confirmMsg}}</span>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-info" data-dismiss="modal" data-ng-click="confirmReadyPOStatus()">OK</button>
                                            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="char-err-msg" class="modal" tabindex="-1" role="dialog" aria-labelledby="CommonCancelPopup"
					            aria-hidden="true">
					            <div class="modal-dialog modal-dialog-centered">
					                <div class="modal-content">
					                    <div class="modal-header">
					                        <h5 class="modal-title" id="vcenter">Error Message</h5>
					                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					                          <i class="fas fa-times text-muted px-3 pb-2 align-middle"></i>
					                        </button>
					                    </div>
					                    <div class="modal-body">
					                        <span>{{errMsg}}</span>
					                    </div>
					                    <div class="modal-footer">
					                        <button type="submit" class="btn btn-info" data-dismiss="modal"
					                            id="modal-btn-falldelete_confirm">OK</button>
					                        <button type="button" id="modal-btn-falldelete_cancel" class="btn btn-danger waves-effect"
					                            data-dismiss="modal">Cancel</button>
					                    </div>
					                </div>
					            </div>
					        </div>
					        <div id="err-msg" class="modal" tabindex="-1" role="dialog" aria-labelledby="CommonCancelPopup"
					            aria-hidden="true">
					            <div class="modal-dialog modal-dialog-centered">
					                <div class="modal-content">
					                    <div class="modal-header">
					                        <h5 class="modal-title" id="vcenter">Error Message</h5>
					                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					                          <i class="fas fa-times text-muted px-3 pb-2 align-middle"></i>
					                        </button>
					                    </div>
					                    <div class="modal-body">
					                        <span>{{msg}}</span>
					                    </div>
					                    <div class="modal-footer">
					                        <button type="submit" class="btn btn-info" data-dismiss="modal"
					                            id="modal-btn-falldelete_confirm">OK</button>
					                        <button type="button" id="modal-btn-falldelete_cancel" class="btn btn-danger waves-effect"
					                            data-dismiss="modal">Cancel</button>
					                    </div>
					                </div>
					            </div>
					        </div>
					         <div id="invalid-part-msg" class="modal" tabindex="-1" role="dialog" aria-labelledby="CommonCancelPopup"
					            aria-hidden="true">
					            <div class="modal-dialog modal-dialog-centered">
					                <div class="modal-content">
					                    <div class="modal-header">
					                        <h5 class="modal-title" id="vcenter">Error Message</h5>
					                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					                          <i class="fas fa-times text-muted px-3 pb-2 align-middle"></i>
					                        </button>
					                    </div>
					                    <div class="modal-body">
					                        <span>{{invalidPartMsg}}&nbsp;{{invalidParts}}</span>
					                    </div>
					                    <div class="modal-footer">
					                        <button type="submit" class="btn btn-info" data-dismiss="modal"
					                            id="modal-btn-falldelete_confirm">OK</button>
					                        <button type="button" id="modal-btn-falldelete_cancel" class="btn btn-danger waves-effect"
					                            data-dismiss="modal">Cancel</button>
					                    </div>
					                </div>
					            </div>
					        </div>
                    </div>
                </div>
            </div>

        </div>
             <!-- PO Format Modal-->
             <div id="poFormatModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="vcenter"><b>Parent Account :</b> {{strPOFmtParrAccNm}}</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <i class="fas fa-times text-muted px-3 pb-2 align-middle" title="Close"></i>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="poFormatTable" class="table table-bordered table-striped tables-responsive">
                                                <thead>
                                                    <tr>
                                                        <th width="100px">Account ID</th>
                                                        <th width="100px">Invoice ID</th>
                                                        <th width="100px">Invoice Date</th>
                                                        <th width="100px">Customer PO</th>
                                                        <th width="100px">Invoice Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="poFmtListVal in poFormatList">
                                                        <td>{{poFmtListVal.strAccid}}</td>
                                                        <td>{{poFmtListVal.strInvoice}}</td>
                                                        <td>{{poFmtListVal.strInvoiceDt}}</td>
                                                        <td>{{poFmtListVal.strCustPONumber}}</td>
                                                        <td>{{poFmtListVal.strInvoiceAmt | currency: strcurrencyNm}}</td>
    
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
    
                    </div>
                </div>
            </div>
    </section>
</div>