<div class="page-wrapper">
	<div class="container-fluid">
		<div class="row page-titles">
			<div class="col-md-5 align-self-center">
				<h4 class="text-themecolor" style="font-weight: 500;">Error
					Page</h4>
			</div>
			<div class="col-md-7 align-self-center text-right">
				<div class="d-flex justify-content-end align-items-center">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
						<li class="breadcrumb-item active">Error Page</li>
					</ol>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-body" style="font-weight: 500;">Application
						Error, please contact support.</div>
					<div class="card-body" style="font-weight: 400;">Message :
						{{varErrorMsg}}</div>
				</div>
			</div>
		</div>
	</div>
</div>